@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.swiper {
    width: 100%;
    @apply h-full;
}

.swiper-button-prev,
.swiper-button-next {
    color: #f1f8e8 !important;
    @apply bg-third lg:p-6 p-4 rounded-sm lg:rounded-md 
    hover:bg-secondary transition duration-300 ease-in-out;
}

.sticky {
    @apply fixed top-0 transition duration-300 ease-in-out w-full;
}
